
.article{
    padding: 25px;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(251, 255, 255, 0.3);
    border-radius: 45px;
    width:20%;
    text-align: left;

    }
.content{
    margin-top: 100px;

}

body{
    background-image: linear-gradient(to bottom, #e31414, #ae7c00, #68a831, #00c29c, #12d1eb);
    margin-bottom: 500px;
}  

button{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.915);
    border: none;
    color: whitesmoke;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.722);
    color: rgb(0, 0, 0);
}
input{
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 30px;
}
label{
    text-align: left;
    border-radius: 5px;
}
